<h4 class="m-3"><%=link_to "Create New Task", new_task_path%></h4>
<div class="mx-5">
    <h1 class="text-center mx-auto mt-5">My Tasks</h1>
  <ol class="d-flex flex-column mt-5 text-center">
  <% @tasks.each do |task| %>
    <li class=""><%= link_to task.title, task_path(task)%></li>
  <%end%>
  </ol>
</div>
